#pageContent{
    padding: 8% 0% 3%;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-image: url(https://media.istockphoto.com/photos/healthy-fresh-rainbow-colored-fruits-and-vegetables-background-picture-id1208790371?s=612x612);
}

#headerRow{
    background-color: #a8133e;
}
.text{
  font-size: 16px;
  color: white;
  width: 40%;
  padding-left: 5%;
}

table{
    text-align: center;
}
tr, th, td{
    padding: 15px;
}